<% provide(:title, 'About Us') %>
<h1>About Us</h1>

  <p>The C-BED SMP Survey is designed to  assess whether the C-BED program and workshops are currently achieving the intended outcome and impact, and identify the key risk areas where mitigating action needs to be taken to ensure benefits are achieved and employment and business opportunities are improved.	</p>
