<% provide(:title, 'Aspiring Entrepreneurs') %>

<h1>Aspiring Entrepreneurs</h1>

	
	<h2>Pre-train</h2>
	<p>This survey is to be completed prior to the C-BED training</p>

	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately 20 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 40</td> 
</tr>
</table>	
	


<p>
<!-- <form action="http://survey.websurveycreator.com/s.aspx?s=e2bb10a4-704f-4e06-a1db-75414c7931f1">
    <input type="submit" value="Complete Pre-train">
</form> -->
<div class="workshop" ><%= link_to "Complete Pre-train", "http://survey.websurveycreator.com/s.aspx?s=e2bb10a4-704f-4e06-a1db-75414c7931f1" %></div>
</p>
		<h2>Post-train</h2>
	<p>This survey is to be completed after the C-BED training</p>
		
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately 10 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 19</td> 
</tr>
</table>	
	


<p>

<div class="workshop" ><%= link_to "Complete Post-train", "http://survey.websurveycreator.com/s.aspx?s=d3a4bbd6-5045-48f6-8c34-0fefc64c1172" %></div>
</p>
<h2>Tracer</h2>


<p>This survey is to be completed every 6 months after the C-BED training</p>
	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately 25 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 56</td> 
</tr>
</table>	
	


<p>

<div class="workshop" ><%= link_to "Complete Tracer", "http://survey.websurveycreator.com/s.aspx?s=34632333-d55d-4ac3-b203-de191e9e7626" %></div>


