<% provide(:title, 'Aspiring Entrepreneurs') %>
<h1>Aspiring Entrepreneurs</h1>
<p>
	
	<div class="workshop" ><%= link_to "Pre-train", sbo_path %></div>
	<p>This is to be completed prior to the C-BED training</p>
	<div>You are about to complete the Pre-train Survey</div>
	<p>
	
<table>
<tr>
  <td>Time recommended:</td>
  <td>completing this survey should take nolonger than 15 mins</td> 
</tr>
<tr>
  <td>Number of questions:</td>
  <td>there are a total of 40</td> 
</tr>
</table>	
	

<b>Additional Information:	</b>
You will be able to navigate through the survey by using the previous and next buttons at the bottom of the page.
You have been asked to complete this survey as part of a research project conducted by the ILO. The research project is called Shared Measurement Platform and is designed to make a collective impact assessment of the Community Based Enterprise Development program. It is recommended that you complete the survey in one sitting.
</p>
	<div class="workshop" ><%= link_to "Post-train", sbo_path %></div>
	<p>This is to be completed after the C-BED training</p>
<div class="workshop" ><%= link_to "Aspiring Entrepreneurs", sbo_path %></div>


<p>This is to be completed every 6 months after the C-BED training</p>
</p>