<% provide(:title, 'English Page') %>
<div class="center hero-unit">
  

<h1>Which program did you complete?</h1>
<p>

<button type="button">Aspiring Entrepreneurs</button> 
<button type="button">Small Business Operators</button>

<a class="Aspiring Entrpreneurs" href="http://www.google.com">Click me</a>
<div class="workshop" ><%= link_to "Aspiring Entrepreneurs", aspiring_path %></div>
	<div class="workshop" ><%= link_to "Small Business owners", sbo_path %></div>

</p>
</div>