<% provide(:title, 'English Page') %>
<div class="hero-unit">
  



<h2>Which C-BED workshop was completed?</h2>

<div class="workshop" ><%= link_to "Aspiring Entrepreneurs", aspiring_path %></div>
	<div class="workshop" ><%= link_to "Small Business owners", sbo_path %></div>
	
	
	</div>



  