<% provide(:title, 'English Page') %>
<div class="hero-unit">
  



<h2>which program did you complete?</h2>

<div class="workshop" ><%= link_to "Aspiring Entrepreneurs", aspiring_path %></div>
	<div class="workshop" ><%= link_to "Small Business owners", sbo_path %></div>


</div>