<% provide(:title, 'English Page') %>
<h2>Which program did you complete?</h2>
<p>

<button type="button">Aspiring Entrepreneurs</button> 
<button type="button">Small Business Operators</button>

</p>