<% provide(:title, 'English Page') %>
<div class="hero-unit">
  



<h3>Which C-BED workshop was completed?</h3>

<div class="workshop" ><%= link_to "Aspiring Entrepreneurs", aspiring_path %></div>
	<div class="workshop" ><%= link_to "Small Business Operators", sbo_path %></div>
	
	
	</div>



  