<% provide(:title, 'Data Collection') %>
<h1>Data Collection</h1>
<p>
  Pre-train
 <div id="surveyMonkeyInfo"><div><script src="https://www.research.net/jsEmbed.aspx?sm=6GllLpyTN_2bdVT5nioV2A0Q_3d_3d"> </script></div></div>
  Post-train

  
  Tracer
</p>