<div class="hero-unit">
  <h1>Shared Measurement Platform</h1>
  <p>The C-BED SMP Survey is designed to  assess whether the C-BED program and workshops are currently achieving the intended outcome and impact, and identify the key risk areas where mitigating action needs to be taken to ensure benefits are achieved and employment and business opportunities are improved.			
</p>

  


<!-- <p>Please select language:
</p>
<li><%= link_to "English", english_path %></li>
<li>Thai ภาษาไทย</li>
<li>Burmese မြန်မာဘာသာ</li>
<li>Khmer ភាសាខ្មែរ</li> -->

 
   <!-- <h3><a href=" https://www.surveymonkey.com/s/2PMPS25?traineeorg=[traineeorg_value]">Pre-train</a></h3>
      <h3><a href="https://www.surveymonkey.com/s/C2FCMVW">Post-train</a></h3>
       <h3><a href="https://www.surveymonkey.com/s/L65X6P6">Post-train - Aspiring Entrepreneurs</a></h3>
        <h3><a href="https://www.surveymonkey.com/s/VKGV8XW">Post-train - Small Business Operators</a></h3>
         <h3><a href="https://www.surveymonkey.com/s/C5RWXTP">Tracer</a></h3> -->



<p>

   
  

</p>
</div>

