<div class="center hero-unit">
  <h1>Welcome to the C-BED Shared Measurement Platform</h1>

  <h2>
    This is the home page for the
    <a href="http://cb-tools.org/">C-BED Shared Measurement Platform</a>
    prototype.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

<h1>Data Collection</h1>
<p>
 
   <li><a href=" https://www.surveymonkey.com/s/CXLXSWL">Pre-train</a></li>
      <li><a href="https://www.surveymonkey.com/s/CXQPPNP">Post-train</a></li>
         <li><a href="https://www.surveymonkey.com/s/CXMJV8P">Tracer</a></li>
   
  
  Tracer
</p>


<%= link_to image_tag("ilo.jpeg", alt: "ILO")%>