<div class="center hero-unit">
  <h1>C-BED Shared Measurement Platform</h1>


 Click the survey you want to complete:
   <h3><a href=" https://www.surveymonkey.com/s/2PMPS25?traineeorg=[traineeorg_value]">Pre-train</a></h3>
      <h3><a href="https://www.surveymonkey.com/s/C2FCMVW">Post-train</a></h3>
         <h3><a href="https://www.surveymonkey.com/s/C5RWXTP">Tracer</a></h3>
</div>


<p>

   
  

</p>


