<% provide(:title, 'sbo page') %>
<h1>Small Business Operators</h1>
<p>
<li>Pre-train</li>
<p>This is to be completed prior to the C-BED training</p>
<li>Post-train</li>
<p>This is to be completed after the C-BED training</p>
<li>tracer</li>
<p>This is to be completed every 6 months after the C-BED training</p>
</p>