<% provide(:title, 'sbo page') %>
<h1>Small Business Operators</h1>
<h2>Pre-train</h2>
	<p>This survey is to be completed prior to the C-BED training</p>

	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately 20 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 44</td> 
</tr>
</table>	
	


<p>
<div class="workshop" ><%= link_to "Complete Pre-train", "http://survey.websurveycreator.com/s.aspx?s=fe9b7a38-cff5-4072-9795-c30b48336e34" %></div>
</p>

		<h2>Post-train</h2>
	<p>This survey is to be completed after the C-BED training</p>
		
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately  10 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 18</td> 
</tr>
</table>	
	


<p>

<div class="workshop" ><%= link_to "Complete Post-train", "http://survey.websurveycreator.com/s.aspx?s=fe9b7a38-cff5-4072-9795-c30b48336e34" %></div>
</p>
<h2>Tracer</h2>


<p>This survey is to be completed every 6 months after the C-BED training</p>
	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take approximately 25 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 56</td> 
</tr>
</table>	
	



<p>
<div class="workshop" ><%= link_to "Complete Tracer", "http://survey.websurveycreator.com/s.aspx?s=fe9b7a38-cff5-4072-9795-c30b48336e34" %></div>
<p>
