<% provide(:title, 'sbo page') %>
<h1>Small Business Operators</h1>
<h2>Pre-train</h2>
	<p>This survey is to be completed prior to the C-BED training</p>

	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take no longer than 15 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 40</td> 
</tr>
</table>	
	



<form action="http://surveymonkey.net">
    <input type="submit" value="Complete Pre-train">
</form>

		<h2>Post-train</h2>
	<p>This survey is to be completed after the C-BED training</p>
		
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take no longer than 15 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 40</td> 
</tr>
</table>	
	



<form action="http://surveymonkey.net">
    <input type="submit" value="Complete Post-train">
</form>

<h2>Tracer</h2>


<p>This survey is to be completed every 6 months after the C-BED training</p>
	
<table>
<tr>
  <td><b>Time recommended</b></td>
  <td>completing this survey should take no longer than 15 mins</td> 
</tr>
<tr>
  <td><b>Number of questions</b></td>
  <td>there are a total of 40</td> 
</tr>
</table>	
	




<form action="http://surveymonkey.net">
    <input type="submit" value="Complete Tracer">
</form>
