<footer class="footer">
  <small>
    <!-- <a href="http://cb-tools.org/">C-BED</a> -->
    
  </small>
  <nav>
    <ul>

  </nav>
  <%= link_to image_tag("ilo.jpg", alt: "ILO")%>
  <%= link_to image_tag("cbed.png", alt: "C-BED")%>

</footer>
